<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--// 전체 노선보기 -->
<div class="all_ways_list" id="all_ways_list" style="display: none;">
    <div id="all_tog" class="slide_open" onclick="toggleAllLineWindow();">
        <a href="#">전체노선보기</a>
    </div>
    <!--// Search -->
    <div class="way_src_wrap">
        <div class="way_row">
            <input type="text" id="line_filter" class="way_ipt ui-autocomplete-input"
                   placeholder="장소명, 주소 등을 입력하세요." autocomplete="off">
            <input type="hidden" name="line_filter_lat" id="line_filter_lat" value="">
            <input type="hidden" name="line_filter_lng" id="line_filter_lng" value="">
        </div>
        <div class="way_row">
                    <span>
                        <select class="arrival_time">
                        <option value="0">도착시간</option>
                        <option value="710">7:10</option>
                        <option value="740">7:40</option>
                        <option value="810">8:10</option>
                        <option value="840">8:40</option>
                        <option value="910">9:10</option>
                        <option value="940">9:40</option>
                        <option value="1010">10:10</option>
                        <option value="1040">10:40</option>
                        <option value="">---퇴근---</option>
                        <option value="1720">17:20</option>
                        <option value="1820">18:20</option>
                        <option value="1920">19:20</option>
                        <option value="2020">20:20</option>
                        <option value="2120">21:20</option>
                        </select>
                    </span>
            <input type="button" name="btn-way" class="btn-way" value="노선검색">
        </div>
    </div>
    <!-- Search //-->
    <!--// Way List -->
    <div class="ways_wrap total_list">
        <ul>
            <li onclick="('26')"><p class="way_sbj">
                <!--노선정보-->
                <span class="way_label label_run">
<!--운행여부-->
                        </span></p>
                <div class="way_name">
                </div>
            </li>

        </ul>
    </div>
    <!-- Way List //-->
</div>
<!-- 전체 노선보기 //-->

<!--// 노선 상세보기  -->
<div id="line_detail" class="lnb_src y_station" style="display:none;"></div>
<!-- 노선 상세보기 //>-->
</div>

</body>
</html>