<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .search_wrap .simple_search {
            text-align: center;
        }
        .search_wrap .simple_search input {
            border-radius: 25px 25px;
            border: none;
            vertical-align: middle;
            font-size: 14px;
            padding-left: 65px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        .search_bg{
            color: #FFF;
            background: #09165a;
        }
    </style>
</head>
<body>
<div class="search_bg">
    <div class="search_wrap">
        <p class="top_tt">
            기존의 통근 노선을 검색해보세요.
        </p>
        <div class="simple_search">
            <!-- 출발 정거장 찾기 -->
            <input type="text" name="start" class="start autocomplete-input" id="start" value=""
                   placeholder="출발지를 검색합니다." autocomplete="off"/>
            <span><img src="images/search_arrow.png" width="" height="" alt=""></span>
            <!-- 도착 정거장 찾기 -->
            <input type="text" name="arrival" class="arrival autocomplete-input" id="arrival" value=""
                   placeholder="도착지를 검색합니다." autocomplete="off"/>
        </div>
    </div>
</div>

<div class="search_btn">

    <select id="eTime" name="eTime" class="top_sel">
        <option value="0" selected="">도착시간 선택</option>
        <option value="710">7:10</option>
        <option value="740">7:40</option>
        <option value="810">8:10</option>
        <option value="840">8:40</option>
        <option value="910">9:10</option>
        <option value="940">9:40</option>
        <option value="1010">10:10</option>
        <option value="1040">10:40</option>
        <option value="">---퇴근---</option>
        <option value="1720">17:20</option>
        <option value="1820">18:20</option>
        <option value="1920">19:20</option>
        <option value="2020">20:20</option>
        <option value="2120">21:20</option>
    </select>
    <input id="btn-way" name="btn-way" type="button" class="top_btn" style="width:120px" value="노선 조회" title="노선 조회">
    <input type="button" class="top_btn" style="width:100px" value="초기화" title="초기화">
</div>

</body>
</html>