<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body align="center">
<div class="container">
    <h1>비밀번호 찾기</h1>
        <div class="form-group">
            <label for="phone"></label>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="핸드폰 번호를 입력하세요.">
            <button class="btn btn-primary" id="btn-tokenReceive">인증번호 받기</button>
        </div>
        <div class="form-group">
            <label for="token">인증번호 확인</label>
            <input type="text" id="token" name="token" class="form-control" aria-describedby="token">
            <small id="tokenHelp">
                <a href="#">인증번호 다시 받기</a></small>
            <button id="btn-tokenVerified">인증번호 확인</button>
        </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script>
    const header = document.getElementsByName('_csrf_header')[0].content;
    const token = document.getElementsByName('_csrf')[0].content;

    let index = {
        init : function () {
            $('#btn-tokenReceive').on('click', ()=>{
                this.tokenReceive();
            })

            $('#btn-tokenVerified').on('click', ()=>{
                this.tokenVerified();
            })
        },

        tokenReceive: function () {
            const data = {
                phone: document.getElementById("phone").value
            }

            $.ajax({
                type : 'POST',
                url : '/sendToken',
                dataType : 'text',  //response를 어떤 타입으로 받을 것인지 선택
                contentType : 'application/json; charset=UTF-8',
                data : JSON.stringify(data),
                beforeSend : function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            }).done(function (response) {
                alert("인증 번호를 발송했습니다. \n개발자 도구에서 확인하세요.(F12)");
                console.log(response);
            }).fail(function (error){
                alert(JSON.stringify(error))
            })

        },
        tokenVerified: function () {
            const data = {
                phone: document.getElementById("phone").value,
                token: document.getElementById("token").value
            }

            $.ajax({
                type : 'POST',
                url : '/tokenVerified',
                dataType : 'text',
                contentType : 'application/json; charset=UTF-8',
                data : JSON.stringify(data),
                beforeSend : function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            }).done(function (response) {
                alert("인증 번호가 일치합니다.");
                location.href='/mypage/password'
            }).fail(function (error){
                alert("인증 번호가 다릅니다.");
            })
        }
    } //index

    index.init();
</script>
</body>
</html>