<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구해줘셔틀</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="shuttle.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="inner">
            <div class="logo"><a href="/"><img src="" alt=""></a></div>
            <div class="bottom_line">
                <div class="right">
                    <div class="search_wrap">
                        <div class="search_bar">
                            <input type="text" placeholder="검색어를 입력하세요.">
                        </div>
                        <a href="#null" class="search_btn"><i class="xi-search"></i></a>
                    </div>
                    <div class="mypage">
                        <ul>
                            <li><a href="" class="m_menu" id="navUser"><i class="xi-user-o"></i></a>
                                <ul class="s_nav">
                                    <li><a href="">마이페이지</a></li>
                                    <li><a href="">신청</a></li>
                                    <li><a href="">LOGOUT</a></li>
                                </ul>
                                <ul class="s_nav">
                                    <li><a href="">회원가입</a></li>
                                    <li><a href="">로그인</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="slide_wrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href=""><img src=""></a></div>
                </div>
                <div class="pager_wrap">
                    <div class="inner">
                        <div class="pager_line">
                            <div class="swiper_prev swiper_button"><i class="xi-arrow-left"></i></div>
                            <div class="swiper_fraction"></div>
                            <div class="swiper_next swiper_button"><i class="xi-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_wrap">
            <section class="sec01">
                <div class="inner">
                </div>
            </section>
            <section class="sec02">
                <div class="inner">
                </div>
            </section>
            <section class="sec03">
                <div class="inner">
                </div>
            </section>
        </div>
        <footer>
            <div class="inner">
                <p class="copy"> Copyright, ⓒ 구해줘셔틀. All rights reserved.</p>
            </div>
        </footer>
        <div class="bot">
            <button></button>
        </div>
    </div>
</body>

</html>